.wrapper {
    height: calc(100vh - 50px);
    background-color: burlywood;
}

main {
    margin: 0 100px;
    padding: 20px;
    height: 100%;
    background-color: cornsilk;
}

.main-text {
    font-size: 30px;
}

h1 {
    margin: 10px;
    text-align: center;
}

.btn-wrapper {
    text-align: center;
}
