header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #ffddac;
}

header div {
    height: 100%;
    display: inline-block;
}

.app-name {
    padding-left: 25px;
    font-size: 30px;
    font-weight: bold;
}

.btnWrapper {
    width: 50%;
    max-width: 600px;
    display: flex;
    justify-content: right;
}

.btn {
    width: 20%;
    background-color: bisque;
}
